
.layouts {
    color: white;
    margin-left: -1650px;
    margin-top: -1100px;
    margin-right: 600px;
    position:absolute;
}
.layout-1 {
    color: white;
    margin-top: -1100px;
    position:absolute;
    margin-left: -700px;
    margin-right: -100px;
}
.layout-2{
    color: white;
    margin-top: -1100px;
    position:absolute;
    margin-left: -2200px;
    margin-right: 1500px;
}
.layout-3{
    color: white;
    margin-top: 250px;
    position:absolute;
    margin-left: -2000px;
    margin-right: 100px;
}


.heads{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    margin-left: 250px;
    color: white;
    align-items: center;
    text-shadow: rgba(245, 245, 245, 0.978) 6px 3px 4.5px;
}
.head-1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    margin-left: 100px;
    align-items: center;
}

.head-2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}

.head-3{
    margin-left: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}

.head-4{
    margin-left: 600px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}

.font{
    font-size: 24px;
    /* margin-left: -500px; */
    margin-right: 200px;
}

.side-head{
    font: bold;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}