#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  margin-top: 400px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.e1{
    background-image: url(../images/swiper/e1.PNG);
    height:300px;
    width: 300px;
}
.e2{
    background-image: url(../images/swiper/e2.PNG);
    height:300px;
    width: 300px;
}
.e3{
    background-image: url(../images/swiper/e3.PNG);
    height:300px;
    width: 300px;
}
.e4{
    background-image: url(../images/swiper/e4.PNG);
    height:300px;
    width: 300px;
}
.e5{
    background-image: url(../images/swiper/e5.PNG);
    height:300px;
    width: 300px;
}
.e6{
    background-image: url(../images/swiper/e6.PNG);
    height:300px;
    width: 300px;
}
.e7{
    background-image: url(../images/swiper/e7.PNG);
    height:300px;
    width: 300px;
}
.e8{
    background-image: url(../images/swiper/e8.PNG);
    height:300px;
    width: 300px;
}
.e9{
    background-image: url(../images/swiper/e9.PNG);
    height:300px;
    width: 300px;
}
.e10{
    background-image: url(../images/swiper/e10.PNG);
    height:300px;
    width: 300px;
}
.e11{
    background-image: url(../images/swiper/e11.PNG);
    height:300px;
    width: 300px;
}
.e12{
    background-image: url(../images/swiper/e12.PNG);
    height:300px;
    width: 300px;
}
.e13{
    background-image: url(../images/swiper/e13.PNG);
    height:300px;
    width: 300px;
}
.e14{
    background-image: url(../images/swiper/e14.PNG);
    height:300px;
    width: 300px;
}
.e15{
    background-image: url(../images/swiper/e15.PNG);
    height:300px;
    width: 300px;
}
.e16{
    background-image: url(../images/swiper/e16.PNG);
    height:300px;
    width: 300px;
}
.e17{
    background-image: url(../images/swiper/e17.PNG);
    height:300px;
    width: 300px;
}
.e18{
    background-image: url(../images/swiper/e18.PNG);
    height:300px;
    width: 300px;
}
.e19{
    background-image: url(../images/swiper/e19.PNG);
    height:300px;
    width: 300px;
}
.e20{
    background-image: url(../images/swiper/e20.PNG);
    height:300px;
    width: 300px;
}
.e21{
    background-image: url(../images/swiper/e21.PNG);
    height:300px;
    width: 300px;
}
.e22{
    background-image: url(../images/swiper/e22.PNG);
    height:300px;
    width: 300px;
}
.e23{
    background-image: url(../images/swiper/e23.PNG);
    height:300px;
    width: 300px;
}
.e24{
    background-image: url(../images/swiper/e24.PNG);
    height:300px;
    width: 300px;
}
.e25{
    background-image: url(../images/swiper/e25.PNG);
    height:300px;
    width: 300px;
}
